body {
    background-color: #29293d;
}
p, h1, h2, h3, ul, ol, div {
    font-family: monospace;
    color: antiquewhite;
}
p {
    
    margin: 2em;
}
h1, h2, h3 , p {
    text-align: center;
}
ul {
    margin: 1em 30em 1em 30em;
    padding: 1em 3em 1em 3em;
    border-color: antiquewhite;
    background-color: #47476b;
    border-style: double;
    border-radius: 1em;
    text-align: left;
}
ol {
    margin: 1em 15em 1em 15em;
    padding: 1em 3em 1em 3em;
    border-color: antiquewhite;
    background-color: #47476b;
    border-style: double;
    border-radius: 1em;
    text-align: left;
}
img {
    height: auto;
    width: 450px;
    border-radius: 20px;
}
div {
    text-align: center;
}
a {
    color:antiquewhite;
}
.index {
    list-style: none;
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}