body {
    background-image: url(./images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p, h1, h2, h3, ul, ol, div {
    font-family: monospace;
    color: antiquewhite;
}
p {
    
    margin: 2em;
}
h1, h2, h3 , p {
    text-align: center;
}
ul {
    padding: 1em 2em 1em 2em;
    border-color: antiquewhite;
    background-color: #29293d;
    border-style: double;
    border-radius: 1em;
    text-align: left;
}
ol {
    padding: 1em 3em 1em 3em;
    border-color: antiquewhite;
    background-color: #29293d;
    border-style: double;
    border-radius: 1em;
    text-align: left;
}
img {
    height: auto;
    width: 450px;
    border-radius: 20px;
}
div {
    text-align: center;
}
a {
    color:antiquewhite;
}
.index {
    list-style: none;
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 16em;
    margin-right: 16em;
    /* border-radius: 20px; */
}